:root {
  --black: #090909;
  --white: #FFFFFF;
  --green: #15615D;
  --beige: #FFECD1;
  --orange: #FF7D00;
  --brown: #78290f;
  --dark: #001524;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  color: var(--beige)
}

a{
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}

a:hover{
  opacity: 1;
}